@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Chivo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  font-size: 18px;
  --bg-dark: hsl(224, 35%, 11%);
  --fg-light: white;
  --green: hsl(157, 74%, 62%);
  --dark-navy: hsl(225, 26%, 23%);
  --mid-navy: hsl(225, 21%, 45%);
  --light-navy: hsl(225, 40%, 83%);
  --error: #f23d3d;
}

body {
  height: 90vh;
  background-color: hsla(224, 35%, 11%, 85%);
  background-image: url('../assets/mobile/image-host.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-blend-mode: darken;
  color: var(--fg-light);
}

main {
  margin: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*** header styles ***/

header h1.sr-only {
  display: hidden;
  position: absolute;
  top: -1000px;
  left: -1000px;
}

#header-logo {
  background-image: url('../assets/desktop/logo.svg');
  width: 135px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3rem auto;
}

/*** subtitle styles ***/

div.subtitle > h2 {
  color: var(--green);
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  padding: 1rem 0;
}

div.subtitle > h2 > span.white-em {
  color: var(--fg-light);
}

/* adding line break in h2 element */
div.subtitle > h2 > span.white-em::before {
  content: '\a'; /* new line character */
  white-space: pre;
}

/*** description para ***/
p.description {
  margin: 1rem auto;
  color: var(--light-navy);
  text-align: center;
  max-width: 36ch;
}

/*** podcast icons ***/
.container-logos {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

a.podcast-logo {
  border: 1px solid transparent;
  display: block;
  padding: 0.3rem;
}

a.podcast-logo:hover,
a.podcast-logo:focus {
  color: white;
  text-decoration: none;
  border: 1px solid var(--light-navy);
}

a.podcast-logo#spotify {
  background-image: url('../assets/desktop/spotify.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 25px;
}

a.podcast-logo#apple {
  background-image: url('../assets/desktop/apple-podcast.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 25px;
}

a.podcast-logo#google {
  background-image: url('../assets/desktop/google-podcasts.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 25px;
}

a.podcast-logo#pocket-casts {
  background-image: url('../assets/desktop/pocket-casts.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 25px;
}

/*** email  form ***/
form {
  margin: 2rem 0 0 0;
  width: 100%;
}

input {
  display: block;
  border: 0;
  width: 100%;
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  font-weight: bolder;
  border-radius: 100px;
  outline: none;
}

input#email {
  background-color: var(--dark-navy);
  color: var(--light-navy);
}

input#email::placeholder {
  /* firefox only */
  opacity: 1;
  color: var(--light-navy);
}

p.email-error {
  visibility: hidden;
  height: 1rem;
  margin-left: 1rem;
  color: var(--error);
  font-size: 0.7rem;
  font-weight: bolder;
}

input[type='submit'] {
  margin: 1rem 0;
  background-color: var(--green);
  color: var(--bg-dark);
}

input[type='submit']:hover,
input[type='submit']:focus {
  background-color: #9cdec5;
  transition: 0.5s;
}

/*** tablet media queries ***/
@media screen and (min-width: 768px) {
  #header-logo {
    margin: 3rem auto 3rem 1.2rem;
  }

  div.subtitle > h2 {
    text-align: left;
  }

  /* description paragraph */
  p.description {
    margin: 1rem 0;
    max-width: 40ch;
    text-align: left;
  }

  /* podcast logos */
  .container-logos {
    /* moves to the left */
    width: 600px;
    margin: 3rem 0;
    order: 4;
  }

  /* email form - one line */
  form {
    background-color: var(--dark-navy);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0.1rem;
    border-radius: 100px;
  }

  input[type='submit'] {
    margin: 0.1rem;
    width: auto;
  }

  /* tablet background */
  body {
    background-color: var(--bg-dark);
    background-image: url('../assets/tablet/image-host.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 491px 767px;
    background-blend-mode: normal;
    /* flex stuff */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }

  header {
    flex-grow: 1;
  }

  main {
    background-color: var(--bg-dark);
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
  }

  div#green-dots {
    position: relative;
    width: 200px;
    height: 156px;
    margin-left: 1.2rem;
    background-size: contain;
    z-index: 1;
    background-image: url('../assets/desktop/bg-pattern-dots.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

/*** desktop media queries ***/
@media screen and (min-width: 1270px) {
  body {
    background-image: url('../assets/desktop/image-host.jpg');
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 888px 640px;
    background-blend-mode: normal;
  }

  header, main {
    margin-left: 6rem;
  }

  main {
    width: 50%;
  }

  header {
    margin-top: 3rem;
  }

  div#green-dots {
    position: absolute;
    width: 200px;
    height: 156px;
    margin-left: 0;
    right: 0;
    top: 700px;
    background-position: right center;
  }
}