@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Chivo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  --bg-dark: hsl(224, 35%, 11%);
  --fg-light: white;
  --green: hsl(157, 74%, 62%);
  --dark-navy: hsl(225, 26%, 23%);
  --mid-navy: hsl(225, 21%, 45%);
  --light-navy: hsl(225, 40%, 83%);
  --error: #f23d3d;
}

body {
  background-color: hsla(224, 35%, 11%, 85%);
  background-image: url('../assets/mobile/image-host.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-blend-mode: darken;
  color: var(--fg-light);
}

main {
  margin: 1.2rem;
}

/*** header styles ***/

header h1.sr-only {
  display: hidden;
  position: absolute;
  top: -1000px;
  left: -1000px;
}

#header-logo {
  background-image: url('../assets/desktop/logo.svg');
  width: 135px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3rem auto;
}

/*** subtitle styles ***/

div.subtitle > h2 {
  color: var(--green);
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  padding: 1rem 0;
}

div.subtitle > h2 > span.white-em {
  color: var(--fg-light);
}

/* adding line break in h2 element */
div.subtitle > h2 > span.white-em::before {
  content: '\a'; /* new line character */
  white-space: pre;
}

/*** description para ***/
p.description {
  margin: 1rem auto;
  color: var(--light-navy);
  text-align: center;
  max-width: 36ch;
}

/*** podcast icons ***/
.container-logos {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

a.podcast-logo {
  border: 1px solid transparent;
  display: block;
  padding: 0.3rem;
}

a.podcast-logo:hover, a.podcast-logo:focus {
  color: white;
  text-decoration: none;
  border: 1px solid var(--light-navy);
}

a.podcast-logo#spotify {
  background-image: url('../assets/desktop/spotify.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 25px;
}

a.podcast-logo#apple {
  background-image: url('../assets/desktop/apple-podcast.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 25px;
}

a.podcast-logo#google {
  background-image: url('../assets/desktop/google-podcasts.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 25px;
}

a.podcast-logo#pocket-casts {
  background-image: url('../assets/desktop/pocket-casts.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 25px;
}



/*** tablet media queries ***/
@media screen and (min-width: 768px) {
  #header-logo {
    margin: 3rem auto 3rem 1.2rem;
  }

  div.subtitle > h2 {
    text-align: left;
  }

  /* description paragraph */
  p.description {
    margin: 1rem 0;
    max-width: 40ch;
    text-align: left;
  }

  /* podcast logos */
  .container-logos {
    /* moves to the left */
    width: 600px;
    margin: 3rem 0;
  }
}


/*** desktop media queries ***/